- cache artwork do
  .columns.small-12.medium-6.large-6
    %h4
      = artwork.title
      - if artwork.description
        %br
        %small= artwork.description
    %blockquote
      =raw artwork.content
