- if artwork.picture.present?
  %li
    = link_to image_tag(artwork.picture.url(:thumb), class: "th", data: {caption: artwork.title}), image_path(artwork.picture.url(:original))
- if artwork.content
  .columns.small-6
    %h3
      = artwork.title
      - if artwork.description
        %br
        %small= artwork.description
    %blockquote
      =raw artwork.content
