- title @title
.row
  .columns.large-8
    %h1= @title
    %p
      Objectif – Encouragement à la recherche dans les domaines de la micropaléontologie et de la biologie des foraminifères.
    %p
      Prix CHF 5'000.-
  .columns.large-4
    .panel
      %h2 Previous awards
      %h3 2006
      %p Laureate: Oliver FRIEDRICH
      %p
        Biological and environmental effects of Late Cretaceous benthic foraminiferal stagle isotope compositions
      %h3 2001
      %p Laureate: Petra HEINZ
      %p
        Laboratory feeding experiments: response of deep-sea benthic foraminifera to simulated phytoplankton pulses
      %h3 1997
      %p Laureate: Edouard G. REINHARDT
      %p Paleoenvironmental Evolution of the Inner Basin of the Ancient Harbor at Caeserea Maritima, Israel - Foraminiferal and Sr Isotopic Evidence
