- title @title
.row
  .large-8.columns
    %h1= @title
    %p
      Si vous trouvez notre démarche positive et sympathique, vous pouvez nous soutenir en envoyant votre don à:
    %p
      Banque Cantonale de Genève
      %br
      COMPTE N° S 3100.67.84
      %br
      Fondation PAUL BRÖNNIMANN
      %br
      Muséum d'Histoire Naturelle
      %br
      Case postale 6434
    %dd
      CH-1211 Genève 6
    %dd
      Suisse
      %br
      Tél: +41 22 418 63 00
      %br
      Fax: +41 22 418 63 01
  .large-4.columns
    .panel
      %h2 Donators
      %dl.disc
        %dt
          Commune De Vandoeuvres
        %dd
          Genève
        %dt
          Commune De Thônex
        %dd
          Genève
        %dt
          Mme A. Baldanza
        %dd
          Perugia
        %dt
          Mme R. Barchietto
        %dd
          Genève
        %dt
          Mme H. Broennimann-Iselin
        %dd
          Berne
        %dt
          M. M. P. Broennimann
        %dd
          Genève
        %dt
          M. A. Burdet
        %dd
          Genève
        %dt
          M. P. De Castro
        %dd
          Naples
        %dt
          Mme G. Ciarapica
        %dd
          Perugia
        %dt
          Mme S. Cirilli
        %dd
          Perugia
        %dt
          M. J. -p. Debena Y
        %dd
          Angers
        %dt
          M. A. Deshusses
        %dd
          Genève
        %dt
          M. M. Reck / Esperta S.a.
        %dd
          Locarno
        %dt
          M. M. Groppi / Excosa S.a.
        %dd
          Genève
        %dt
          M. Et Mme Ch. Fabjan
        %dd
          Genève
        %dt
          M. G. Gorin
        %dd
          Genève
        %dt
          M. J. Malna Ti- Genève
        %dt
          Mme R. Martini
        %dd
          Genève
        %dt
          M. R. Nagy
        %dd
          Genève
        %dt
          Mme M. Nocchi
        %dd
          Perugia
        %dt
          Mme M. Ody
        %dd
          Genève
        %dt
          M. H. Oertli
        %dd
          Pau
        %dt
          M. L. Passeri
        %dd
          Ferugia
        %dt
          M. G. Parisi
        %dd
          Perugia
        %dt
          M. N. Pellaud Et Mme Nuti
        %dd
          Mies
        %dt
          M. G. Pialli
        %dd
          Perugia
        %dt
          Mme M. Pittard-zweifel
        %dd
          Bale
        %dt
          M. R. Rettori
        %dd
          Perugia
        %dt
          Mme K. Von Salis
        %dd
          Zurich
        %dt
          M. G. Sanderson
        %dd
          Tulsa / Usa
        %dt
          M. B. Schwizer
        %dd
          Genève
        %dt
          M. M.-a. Conrad
        %dd
          Genève
        %dt
          Mme R. Serandrei
        %dd
          Venise
        %dt
          M. Mme G. Stampfli
        %dd
          Lausanne
        %dt
          M. Mme G. Stickel
        %dd
          Genève
        %dt
          M. Mme H. Thurnherr-gaulis
        %dd
          Genève
        %dt
          M. K. Towe
        %dd
          Washington D. C. / Usa
        %dt
          Mme A. Voegelin
        %dd
          Bale
        %dt
          M. R. Wernli
        %dd
          Genève
        %dt
          Mme L. Zaninetti
        %dd
          Genève
        %dt
          M. A. Poisson
        %dd
          Genève
        %dt
          M. G. Piovano
        %dd
          Genève
        %dt
          M. E. Nardini
        %dd
          Genève
%dt

