- title @title
- cache "grants" do
  .row
    .small-12.medium-6.large-4.columns
      %h1= @title
      %h3
        FPB Call for Projects on Integrated Taxonomy of Foraminifera
        %br
        %small Application deadline: May 1st, 2014
    .small-12.medium-6.large-6.columns
      %p
        The Paul Brönnimann Foundation has awarded grants to promote the use of DNA barcoding and other genetic tools for species identification in taxonomic, ecological and/or evolutionary studies of foraminifera.
      %p
        %strong
          The MARUM Center for Marine Environmental Sciences, University of Bremen
        will produce a set of SSU and ITS rDNA sequences from specimens belonging to the genus Amphistegina sampled from different localities. The new set of sequences will allow to investigate intra-individual and population level variability and attempt to determine the position of Amphistegina within the phylogenetic framework. The project is headed by Dr Raphael Morard.
      %p
        %strong
          The Instituto Oceanográfico da Universidade de São Paulo
        will isolate specimens of a typical Brazilian benthic foraminifera, Pararotalia cananeiaensis, and verify its molecular identification by single-cell DNA extraction. This calcareous species occurs frequently along the south and southeast coast of Brazil and is commonly used as an indicator of marine influence and tidal currents inside estuarine systems. The project is headed by Dr André Rodrigues.
      %p
        Researchers at the
        %strong
          Istituto Superiore per la Protezione e Ricerca Ambientale, Rome
        will use the grant to better understand the genetic diversity of different Ammonia genotypes present at Italian coasts.  Foraminifera are increasingly used as bioindicators and the distribution of Ammonia species will deliver useful information on environmental conditions and possible anthropogenic pollution. The project will include DNA barcoding and morphological description. It is headed by Drs Elena Romano et Luisa Bergamin.
      %blockquote
        “We believe that each grant will advance the development of innovative tools to identify species thus contributing to expand and enhance the growing reference library of DNA barcodes, which link morphotaxonomy and molecular data. The Brönnimann Foundation has been promoting studies in the biology of foraminifera for over twenty years and is particularly happy to continue the support of cutting-edge science projects.”
      %em
        Jan Pawlowski, President of the Foundation
