- title @title
.row
  .small-12.columns.multi-column
    %h1= @title
    %h2
      FPB Call for Projects on Integrated Taxonomy of Foraminifera
      %br
      %small Application deadline: May 1st, 2014
    %p.drop-cap
      This call for projects is committed to promote the use of DNA barcoding and other genetic tools of species identification in taxonomic, ecological and/or evolutionary studies of foraminifera.
    %p
      Our goal is to establish a public DNA barcode reference library for modern benthic and planktonic foraminifera, which will link morphotaxonomy and molecular data. In order to help us meet this goal, we are currently accepting applications for projects that aim at resolving particular taxonomic, ecological or evolutionary problems using molecular and morphological data. The following topics are eligible:
    %ul
      %li description of new species
      %li taxonomic revision of selected morphospecies
      %li study of genetic variability
      %li inventory of foraminiferal diversity
      %li comparison of geographic distribution
    %p
      The FPB grants will cover the costs of DNA sequencing and will assist in analysis of genetic data. If necessary, the Foundation may also contribute to the costs related to the sampling, isolation and morphological documentation of foraminifera (max 1000 CHF).
    %p Applications should be 1-2 pages in length and should include:
    %ul
      %li A description of the proposed project, including the background, the goals and the significance of obtained results.
      %li A description of sampling localities.
      %li Available tools for morphological documentation.
      %li Estimated number of specimens for genetic analyses
      %li An itemized budget for other expenses (sampling, microscopy)
    %p
      In order to be funded, the following project requirements must be met:
    %ul
      %li Specimens for DNA barcoding must be isolated and preserved as described at the website http://forambarcoding.unige.ch/
      %li A morphological documentation is required for each specimen (photo, drawing or voucher specimens deposited in a Museum collection)
      %li Appropriate metadata must be given for each sample
      %li All sequences must be made publicly available after the study is completed and published (a maximum of six months after the delivery of sequence data)
      %li The Paul Brönnimann Foundation must be named and acknowledged in all publications reporting data obtained using its support
    %p
      All applications will be considered but those from middle and low-income countries will be prioritized.
    %p
      Please send applications to
      = mail_to "maria.Holzmann@unige.ch", "Dr. Maria Holzmann", encode: "hex"
      by May 1st, 2014.
    %p
      Awardees will be notified at the beginning of June 2014.

