- title @title
- cache "broennimann" do
  .row
    .small-12.medium-6.large-4.columns
      %h1
        Life of Paul Brönnimann (1913-1993)
        %br
        %small
          by Tarramo Brönnimann, grandson
    .small-12.medium-6.large-5.columns
      %p.drop-cap
        Paul Brönnimann was born in Biel (Bern, Switzerland) on February 11th, 1913. He studied at the University of Basel and obtained a diploma in pedagogy in 1938 and a Ph.D. degree in Geology and Paleontology in 1939, being supervised by Manfred Reichel.
      %p
        = "He joined the army after the beginning of World War II, a fact that interrupted most of his research, but he was able to carry out some work on larger Tertiary foraminifera at Lausanne University. After the end of the war, he became private lecturer at Bern University and worked there until December 1945. During this period he obtained his habilitation and published articles on Tertiary orbitoids, Moroccan miogypsinids and <em>Discocyclina</em>.".html_safe
    .small-12.medium-6.large-3.columns
  .row
    .small-12.medium-6.large-5.large-offset-4.columns
      %p
        As it was difficult to get a position in post-war Switzerland, he left the country and started an international career as micropaleontologist.
      %h3 Trinidad, 1946-1952
      %p
        In January 1946, Paul Brönnimann started to work as “Paleontologist and Senior Stratigrapher with the Trinidad Leaseholds Ltd.” at Pointe-à-Pierre, Trinidad, B.W.I. It was during this time that his interest on planktonic foraminifera arose, and he also continued to publish on Tertiary larger foraminifera. He further discovered mangrove foraminifera in Trinidad and began to collect and study them. His passion for recent foraminifera was a lifelong one.
      %p
        In Trinidad, he met new colleagues, some of them becoming faithful friends, among them Walter H. Blow, Hans Bolli, Hans G. Kugler, Hans H. Renz. His work on mangrove foraminifera initiated fruitful collaborations with Joseph A. Cushman and Ruth Todd whom he later met in person at Sharon (Massachusetts).
    .small-12.medium-6.large-3.columns
      %figure
        = image_tag "glomar_challenger_office_1969.jpg", alt: "Glomar Challenger office 1969"
        %figcaption Glomar Challenger office 1969
  .row
    .small-12.medium-6.large-5.large-offset-4.columns
      %h3
        Cuba, 1952-1959
      %p
        In Havana, Paul Brönnimann took up a post as “Head of Geological Laboratory, Cuban Gulf Oil Co” in 1952 and was attached to Esso Standard Oil in 1957. This was a period of his life he always liked to remember.
      %p
        He appreciated the companionship of many colleagues, particularly Pedro Bermudez, and Danilo Rigassi with whom he prepared the “Contribution to the Geology and Paleontology of the Area of the City of La Habana” published in 1963.
      %p
        During this period, he published many papers about planktonic foraminifera, kept on studying orbitoids and extended his field of research to other groups: calpionellids, planktonic crinoids and nannofossils. He established a biozonation based on Nannoconus in 1955. He also began studying coprolites and intensified this field of research when he came back to Europe.
    .small-12.medium-6.large-4.columns
  .row
    .small-12.medium-6.large-4.columns
      %figure
        = image_tag "paul_bresil_1980.jpg", alt: "Brazil 1980"
        %figcaption Brazil 1980
    .small-12.medium-6.large-5.columns
      %p
        He had to leave Cuba reluctantly on December 6, 1959, when the Cuban revolution started.
      %h3 Libya, 1960-1962
      %p
        After the departure from Cuba, Paul Brönnimann and his family, including his wife Helen and his son Martin, went to Tripoli. He took up the post of “Senior Paleontologist and Head of Geological Laboratory, Esso Standard Libya, Inc.”.
      %h3
        France, 1963
      %p
        In France, Paul Brönnimann spent his last year in the oil industry as “Senior Research Associate, Jersey Production Research Co, European Laboratories, Bordeaux”.
      %h3
        Back to Switzerland, Geneva University, 1964-1982
      %p
        In 1963, Paul Brönnimann was nominated professor of paleontology at Geneva University and maintained his position until 1982. He was teaching micropaleontology, which at that time was of considerable importance for the oil industry.
      %p
        The financial support that he received from the Swiss National Science Foundation allowed him to continue his scientific research. He collaborated with many colleagues, among them Marc A. Conrad, Adrien Jayet, Norbert Steinhauser, Louisette Zaninetti and Jean Charollais, with whom he struck up a solid friendship and published papers about the micropaleontology of the lower Cretaceous strata of the Genevan region.
      %p
        He organized the First International Planktonic Conference in Geneva in 1967, and took part in the JOIDES project multi-column
      %p
        With his assistant Louisette Zaninetti, he started to work on Triassic foraminifera, an almost unexplored domain at that time. They traveled around Europe, Iran, Pakistan and Turkey to collect material. Together, they also pursued research on mangrove foraminifera as Paul Brönnimann had ceased to work on them when he left the Caribbean.
      %p
        This work led them to United States, Australia, Pacific islands, and mainly to Brazil where they carried out some fundamental work about mangrove foraminifera in collaboration with D. Dias- Brito, M. Arai, P. Casaletti, S. Silveira, E. Koutsoukos, G. Beurlen and J-A. Moura.
      %p
        Recent agglutinated foraminifera became increasingly more fascinating for Paul Brönnimann and he started a new collaboration with John E. Whittaker, whom he met first in Geneva in 1973.
    .small-12.medium-6.large-3.columns
  .row
    .small-12.medium-6.large-4.columns
      %figure
        = image_tag "paul_bresil_1980_2.jpg", alt: "Brazil 1980"
        %figcaption Brazil 1980
    .small-12.medium-6.large-5.columns
      %h3
        Retirement 1982-1993
      %p
        In 1982, Paul Brönnimann retired, but remained as professor emeritus at Geneva University and continued his work until the day before he died.
      %p
        His scientific work is considerable and encompasses a wide range of topics with great international value. He supported the foundation of the Revue de Paléobiologie published by the Museum of Geneva. In 1984 he received the “Joseph A. Cushman Award” together with Hans Bolli, and was honorary president of the Benthos’ 86 meeting in 1986. His last paper was published in 1992 (Revue de Paléobiologie, 11).
      %p
        Many scientists had the privilege of getting into contact with this man of great learning who had a strong personality. He demanded a lot of himself and of his assistants, but was a very generous person, always happy to share his knowledge with younger people.
      %p
        After his death, the Paul Brönnimann Foundation was set up for awarding young scientists working on foraminifera.
    .small-12.medium-6.large-3.columns
