- title @title
- cache "donations" do
  .row
    .small-12.columns
      %h1= @title
      %p
        If you want to support science and art in foraminifera, your donations will be welcome:
      %p
        Banque Cantonale de Genève
        %br
        Case Postale 2715
        %br
        CH-1211 Genève 2
        %br
        Fondation Paul Brönnimann
        %br
        Account N° S3100.67.84
        %br
        BIC/SWIFT: BCGECHGGXXX
        %br
        IBAN: CH64 0078 8000 S310 06784
