- title @title
- cache "awards" do
  .row
    .columns.small-12
      %h1= @title
      %p
        For a few years, the FPB was ditributing an award to scientist active in the foraminifera reaserch field.
      %ul.small-block-grid-2.medium-block-grid-3.small-block-grid-4
        = render @awards
