- title @title
.row
  .columns.large-8
    %h1= @title
    %p
      Objectif – Encouragement à la recherche dans les domaines de la micropaléontologie et de la biologie des foraminifères.
    %p
      Prix CHF 5'000.-
  .columns.large-4
    .panel
      %h2 Previous awards
      = render @awards
