#logo
  display: block
  height: 74px
  width: 254px
  position: absolute
  top: 20px
  background: image-url("logo.jpg") no-repeat
  background-size: cover
  z-index: 100

#slideshow
  margin-bottom: 1.6184em

.committee-member
  img
    float: left
    display: block
    width: 150px
    height: 150px
    margin-right: 1em

.home-donate-button
  font-size: larger
