#logo
  display: block
  @include replace-text(asset-url("logo/logo.png"))
  background-size: contain
  height: 220px

#slideshow
  margin-bottom: 1.6184em


.committee-member
  img
    float: left
    display: block
    margin-right: 1em

.home-button
  display: block
  // font-size: larger
