@include sticky-footer(250px, "#container", "#root-footer", "#footer")
section[role='main']
  padding-top: 1.6184em
.button .fi:before
  font:
    size: 1.6184em
  margin-left: 0.6184em
  line-height: 1em
  vertical-align: bottom
