@include sticky-footer(85px, "#main-content", "#root-footer", "#footer")
#main-content
  padding-top: 60px
.button .fi:before
  font:
    size: 1.6184em
  margin-left: 0.6184em
  line-height: 1em
  vertical-align: bottom
