.clearfix
  @include clearfix

figure
  max-width: 33%
  border: 1px solid $secondary-color
  padding: 1em
  &.left
    margin-left: 0
  &.right
    margin-right: 0
figcaption
  text-align: center
  margin-top: 1em
  font:
    style: italic
