- cache "footer" do
  %footer#footer
    .row
      .small-12.medium-6.large-6.columns.h-card
        %p
          © Copyright Fondation
          %span.p-name.name Paul Brönnimann
          = Date.current.year
        %p.footer-address.p-adr.h-adr.adr
          %span.p-extended-address.extended-address
            University of Geneva
            %br
            Sciences III
            %br
            Dpt of Genetics and Evolution
          %br
          %span.p-street-address.street-address
            30, Quai Ernest Ansermet
          %br
          %span.p-postal-code.postal-code
            CH-1211
          %span.p-locality.locality Geneva 4
          %br
          %span.p-country-name.country-name Switzerland
      .small-12.medium-4.columns
        = link_to "UNIGE", "http://unige.ch", class: "footer-unige"
